# -----------------------
# Python build & cache
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/

# -----------------------
# Virtual environment
# -----------------------
.venv/
venv/
env/

# -----------------------
# VS Code settings
# -----------------------
.vscode/

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Model weights & datasets
# -----------------------
# Ignore all files inside weights/ except .gitkeep
assets/weights/*
!assets/weights/.gitkeep

# Ignore all files inside dataset/ except .gitkeep
assets/dataset/*
!assets/dataset/.gitkeep

# Ignore model file formats
*.pt
*.onnx
*.pth
*.h5

# -----------------------
# Temporary files
# -----------------------
.DS_Store
Thumbs.db
